@tailwind base;

@layer base {
  /* @font-face {
    font-family: "";
    src: url("/fonts/selima.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */

  /* Screen medium and above */
  @media only screen and (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  /* Screen mobile and above */
  @media only screen and (max-width: 768px) {
    html {
      font-size: 14px;
    }
  }
  main {
    @apply text-center;
  }
  h1 {
    @apply font-heading;
    @apply text-3xl;
    @apply md:text-5xl;
    @apply lg:text-8xl;
    @apply font-bold;
    @apply text-white;
    @apply uppercase;
  }
  h2 {
    @apply font-heading;
    @apply text-3xl;
    @apply md:text-4xl;
    @apply lg:text-6xl;
    @apply font-bold;
    @apply text-kuhn-green;
    @apply lg:leading-[80px];
  }
  h3 {
    @apply font-heading;
    @apply text-2xl;
    @apply md:text-3xl;
    @apply lg:text-4xl;
    @apply font-bold;
    @apply text-kuhn-green;
  }
  h5 {
    @apply font-heading;
    @apply text-lg;
    @apply font-bold;
    @apply text-kuhn-green;
  }
  p {
    @apply font-normal;
    @apply text-lg;
  }
  input {
    @apply border;
    @apply border-kuhn-green;
    @apply p-3;
    @apply text-sm;
    @apply my-1;
    @apply focus:outline-none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  textarea {
    @apply border;
    @apply border-kuhn-green;
    @apply p-3;
    @apply text-base;
    @apply my-1;
    @apply focus:outline-none;
  }
  select {
    @apply border;
    @apply border-kuhn-green;
    @apply p-3;
    @apply text-base;
    @apply my-1;
    @apply bg-white;
  }
  a {
    @apply font-semibold;
  }
  /* Reset Safari Form Styles */
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@tailwind components;
@tailwind utilities;
